body{
  font:15px/1.8em monospace;
  margin:1em;
  background: #222;
  color: white;
}
.taglist{display: none; flex-wrap: wrap;}
body.show-taglist .taglist{display: flex}
.taglist span{
  margin: 0 5px;
  cursor: pointer;
}
input, textarea, button, .button{
  background: none;
  border:none;
  padding:0;
  margin:0;
  font:inherit;
}
input, textarea{
  color:magenta;
}
textarea{
  height:1.8em;
  overflow-y: scroll;
  resize: none;
}
.button, button, a{
  color:magenta;
  text-align: left;
}
.list li{width:100%;}
.list li:hover{background:#111;}
.saved{animation: save .2s linear 0s ;}
textarea:focus, input:focus{
  outline:none;
  background: #311655;
}
audio{display: none}
.sort, .button{cursor: pointer;}
.asc:after{content:" ▲";}
.desc:after{content:" ▼";}
@keyframes save {
  0%   {background: #311655;}
  100% {background: transparent;}
}
a{text-decoration: none}
form, header{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.about{text-align: right;}
.table-header{
  background:#111;
  margin:1em 0 0 0;
}
.col{
  flex:1 1 20%;
  width:12.5%;
}
.small-col{
  flex:1 1 4em;
  width:4em;
  text-align: center;
}
.filename{
  line-height: 1.2em;
  overflow-y: scroll;
}
.playtime{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.play-header,.play-button{
  flex: 4em;
}
meter{
  background: none;
  height:.1em;
}
meter::-webkit-meter-bar {
  background: none;
  height:.4em;
}
meter::-webkit-meter-optimum-value {
  background: white;
}
meter::-moz-meter-bar { /* Firefox Pseudo Class */
  background: white;
}
